<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.selfmade4u.rust" android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="1" android:targetSdkVersion="35" />
    <application>
        <activity android:name="de.selfmade4u.rust.MainActivity">
        </activity>
    </application>
</manifest>