<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16" package="com.example.myapplication.android"
    platformBuildVersionCode="36" platformBuildVersionName="16">
    <application android:allowBackup="false"
        android:debuggable="true" android:extractNativeLibs="false" android:supportsRtl="true"
       >
        <activity android:exported="true"
            android:name="com.example.myapplication.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>